
<!DOCTYPE html>
<style media="screen">
  body {
    text-align: center;
  }
  iframe{ 
    border: none;
  }
</style>

<body>
  <br><br><h4> Payload :  {{payload_raw_data}} <br></h4>
  <h3> Payload 비식별 <br></h3>
  <iframe width = "1500", height = "100" srcdoc="{{payload_anonymize_highlight_html}}" ></iframe>
  <iframe width = "1500", height = "100" srcdoc="{{q_and_a_1_html}}" ></iframe>

  <br><br>
  <h3> XAI 리포트 <br></h3>
  <!--
  <iframe width = "1000", height = "170" srcdoc="{{force_html}}" ></iframe>
  <h4> 학습 데이터 평균 위험도: {{expected_value_sql_logit}} %</h4>
  <iframe width = "1000", height = "300" srcdoc="{{train_mean_proba_html}}" ></iframe>
  <h5> {{train_mean_pred_comment}} <br></h5>
  -->
  <iframe width = "1000", height = "500" srcdoc="{{summary_html}}" ></iframe>
  <h3> 피처 중요도 요약 <br></h3>
  <h5> 1. {{summary_statement_1}}</h5>
  <h5> 2. {{summary_statement_2}}</h5>
  <h5> 3. {{first_statement}}</h5>
  <h5> 4. {{second_statement}}</h5>
  <h5> 5. {{third_statement}}</h5>
  <br><br>
  <h3> Open AI - ChatGPT 기반 리포트 <br></h3>
  <h5> {{xai_report_html}}</h5>

  <br>
  <h3> 빅데이터 리포트 <br></h3>
  <iframe width = "1500", height = "100" srcdoc="{{sig_pattern_html}}" ></iframe>
  <iframe width = "1500", height = "300" srcdoc="{{sig_df_html}}" ></iframe>
  <br><br><br>

  <h3> 딥러닝 피처 중요도 <br></h3>
  <h5> 딥러닝 예측 라벨: {{pipe_result_label}}</h5>
  <h5> 딥러닝 예측 스코어(%): {{pipe_result_score}}</h5>
  <iframe width = "1000", height = "500" srcdoc="{{text_html}}" ></iframe>
  <iframe width = "1000", height = "500" srcdoc="{{dl_summary_html}}" ></iframe>
  <h3> Open AI - ChatGPT 기반 리포트 <br></h3>
  <h5> {{dl_xai_report_html}}</h5>

  <br>
  <h3> 딥러닝 빅데이터 리포트 <br></h3>
  <iframe width = "1500", height = "100" srcdoc="{{dl_sig_pattern_html}}" ></iframe>
  <iframe width = "1500", height = "300" srcdoc="{{dl_sig_df_html}}" ></iframe>
  <br><br><br>

  <!--
  <iframe width = "1000", height = "500" srcdoc="{{pie_html}}" ></iframe>
  -->

  <h3> Open AI - ChatGPT API 분석 결과 <br></h3>
  <iframe width = "1500", height = "600" srcdoc="{{q_and_a_3_html}}" ></iframe>
  <br><br>

  <a href='/'>go back to home page</a>
  <br><br><br><br><br>
</center>

  <br><br>
</body>
</html>
