
<html>

    <body bgcolor=#6492E3>
    
        <center>
    
            <h1><br>  PREDICTION  </h1></br>
        
        {%if data[0] == 'O'%}
        <h1>Attack !!!</h1><br> 
        <h1> ------------------------- </h1><br>
        <h4>Attack 예측 확률</h4> 
        <p>{{data[2]}} %</p>
        <h4>Normal 예측 확률</h4> 
        <p>{{data[1]}} %</p> 
        <br><br>
        <img src='static\AI.jpg'>  

        {%else%}
        <h1>Normal ...</h1><br>
        <h1> ------------------------- </h1><br>
        <h4>Attack 예측 확률</h4> 
        <p>{{data[2]}} %</p>
        <h4>Normal 예측 확률</h4> 
        <p>{{data[1]}} %</p> 
        <br><br>
        <img src='static\AI.jpg'>      
    
        {%endif%}
            <br><br>
        <a href='/'>go back to home page</a>
            <br><br><br><br><br>
        </center>
    
    </body>
    
    </html>