

<html>
    <body>

        <center>
        <img src='static\igloo.jpg' alt="igloo"><br>
        <h1><br> XAI <br></h1>
        <h3> IPS Detection </h3>

        <form method="POST", action="{{url_for('web_UI_predict')}}">
           <h4> Payload :  <input type="text", name='raw_data_str', placeholder="enter 1" 
                                        style="height:50px;width:1200px;font-size:16px;"> <br></h4>
                <h4> <input type="submit" , value='Predict!'
                                        style="font-size:16px;"> <br><br></h4>
        </form>

        <h3> WAF LOG </h3>

        <form method="POST", action="{{url_for('WAF_payload_parsing')}}">
            <h4> Payload :  <input type="text", name='raw_data_str', placeholder="enter 1" 
                                            style="height:50px;width:1200px;font-size:16px;"> <br></h4>
                    <h4> <input type="submit" , value='WAF Parsing !'
                                            style="font-size:16px;"> <br><br></h4>
        </form>

        <h3> WEB LOG </h3>

        <form method="POST", action="{{url_for('WEB_payload_parsing')}}">
            <h4> SIEM RAW (APACHE or NGINX or IIS Log) :  <input type="text", name='raw_data_str', placeholder="enter 1" 
                                            style="height:50px;width:1200px;font-size:16px;"> <br></h4>
                    <h4> <input type="submit" , value='WEB Parsing !'
                                            style="font-size:16px;"> <br><br></h4>

        </form>
           
    </center>

    </body>
</html>