
<html>
    <body bgcolor=#6492E3>

        <center>
        <h1><br> Igloo NGCSM AI </h1><br>
        <h1> IPS Detection </h1>

        <h1> ------------------------- </h1><br>

        <p> [Normal 예시] </p>
        <p> GET /robots.txt HTTP/1.1\r\nUser-Agent: Mozilla/5.0 (compatible; Nmap Scripting Engine </p>
        <p> [Attack 예시] </p>
        <p> .4 CKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA! </p><br>

        <form method="POST", action="{{url_for('home')}}">
           <h1> Payload :  <input type="text", name='raw_data_str', placeholder="enter 1" 
                                        style="height:50px;width:1200px;font-size:25px;"> </h1>
                <h1> <input type="submit" , value='Predict!'
                                        style="font-size:40px;"> <br><br><br><br></h1>


        <img src='static\igloo.jpg' alt="igloo">
        
    </center>

    </body>
</html>