

<html>

<body>

    <center>
    <br><br>

    <h3><br>  PREDICTION  </br></h3>
            
    {%if data[0] == 1%}
    <h4>공격 !!!</h4><br> 
    <h4>공격 예측 확률</h4> 
    <p>{{data[2]}} %</p>
    <h4>정상 예측 확률</h4> 
    <p>{{data[1]}} %</p><br><br><br>

    <br><br><br>
    <img src='static\AI.jpg'>  

    {%else%}
    <h4>정상 ...</h4><br>
    <h4>공격 예측 확률</h4> 
    <p>{{data[2]}} %</p>
    <h4>정상 예측 확률</h4> 
    <p>{{data[1]}} %</p> <br><br><br>

    <img src='static\AI.jpg'><br>

    {%endif%}

    <form method="POST", action="{{url_for('WAF_XAI_result')}}">
        <br><br><h4> Payload :  <input type="text", name='raw_data_str', placeholder="enter 1" 
            style="height:50px;width:1200px;font-size:16px;"> <br></h4>
            <h4> Predicted data's add description </h4> 
             <h4> <input type="submit" , value='XAI !'
                                     style="font-size:16px;"> <br><br></h4>
    </form>

    <a href='/'>go back to home page</a>
        <br><br><br><br><br>
    </center>

</body>

</html>