<!DOCTYPE html>
  <style media="screen">
    body {
      text-align: center;
    }
    iframe{ 
      border: none;
    }
  </style>
  <body>
    <!--
    <br><h1> Payload: {{waf_raw_data_str}} </h1></br>
    -->
    <br><h3> Parsing Result ! </h3></br>
    <br><iframe width = "1700", height = "200" srcdoc="{{flask_html}}" ></iframe></br>
    <br><h3> {{warning_statement}} <h3></br>

    <form method="POST", action="{{url_for('WAF_web_UI_predict')}}">
      <br><br><h4> Payload :  <input type="text", name='raw_data_str', placeholder="enter 1" 
          style="height:50px;width:1200px;font-size:16px;"> <br></h4>
            <h4> <input type="submit" , value='Predict !'
                                    style="font-size:16px;"> <br><br></h4>
  </form>

    <a href='/'>go back to home page</a >
    <br><br>
  </body>
</html>

