<!DOCTYPE html>
  <style media="screen">
    body {
      text-align: center;
    }
    iframe{ 
      border: none;
    }
  </style>
  <body>
    <br><br><h4> Payload :  {{payload_raw_data}} <br></h4>
    <h3> AI 리포트 <br></h3>
    <iframe width = "1000", height = "500" srcdoc="{{summary_html}}" ></iframe>
    <h3> 피처 중요도 요약 <br></h3>
    <h5> 1. {{first_statement}}</h5>
    <h5> 2. {{second_statement}}</h5>
    <h5> 3. {{third_statement}}</h5>
    <br>
    <h3> AI & 시그니처 탐지 패턴 <br></h3>
    <h5> 빨간색 글씨의 경우, 표준 피처를 나타냄. </h5>
    <iframe width = "1500", height = "250" srcdoc="{{sig_pattern_html}}" ></iframe>
    <iframe width = "1500", height = "250" srcdoc="{{sig_df_html}}" ></iframe>
    <h3> 딥러닝 기반 예측 <br></h3>
    <h5> 예측 라벨: {{bert_label}} </h5>
    <h5> 예측 스코어: {{bert_score}} </h5>
    <h3> 정탐/오탐 예측 주요 딥러닝 피처 <br></h3>
    <iframe width = "1700", height = "300" srcdoc="{{text_html}}" ></iframe>
    <br><br>
  </body>
</html>
