<!DOCTYPE html>
  <style media="screen">
    body {
      text-align: center;
    }
    iframe{
      border: none;
    }
  </style>
  <body>
    <br><br><h4> Payload :  {{payload_raw_data}} <br></h4>
    


    <h1> SHAP's force plot </h1><br>
    <iframe width = "1500", height = "170" srcdoc="{{force_html}}" ></iframe>

    <h1> SHAP's force plot - TOP 10 shapley value </h1><br>
    <iframe width = "1500", height = "350" srcdoc="{{top10_shap_values_html}}" ></iframe>

    <h1> Signature pattern & method </h1><br>
    <iframe width = "1500", height = "170" srcdoc="{{sig_pattern_html}}" ></iframe>
    <iframe width = "1500", height = "170" srcdoc="{{sig_df_html}}" ></iframe>

    <!--
    <h1> SHAP's waterfall plot </h1><br>
    <iframe width = "1500", height = "170" srcdoc="{{waterfall_html}}" ></iframe>

    <h1> SHAP's summary plot </h1><br>
    <iframe width = "1500", height = "170" srcdoc="{{summary_html}}" ></iframe>
    -->
    
    <h1> SHAP's force plot (text feature) </h1><br>
    <iframe width = "1500", height = "170" srcdoc="{{text_explainer_html}}" ></iframe>
    
    <h1> LIME's LimeTextExplainer text plot </h1><br> 
    <iframe width = "1500", height = "500" srcdoc="{{lime_text_explainer_html}}" ></iframe>

    <h1> SHAP's Pytorch BERT text plot </h1><br> 
    <h5> BERT 예측 라벨 :  {{bert_label}} </h5>
    <h5> BERT 예측 스코어 :  {{bert_score}} </h5>
    <iframe width = "1500", height = "500" srcdoc="{{text_html}}" ></iframe>
    <br><br>
  </body>
</html>